<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qlsieuthimini">

    <application
        android:allowBackup="true"
        android:icon="@drawable/stellicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".nhanvien.menubanhang"></activity>
        <activity android:name=".menu.info" />
        <activity android:name=".user.profile" />
        <activity
            android:name=".user.IU_user"
            android:label="Cập nhật và Thêm nhân viên"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.user"
            android:label="Nhân viên"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.menu"
            android:label="Quản lý siêu thị mini"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sanpham.IUsanpham"
            android:label="Thêm Sửa sản phẩm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sanpham.allSanPham"
            android:label="Tất cả sản phẩm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:label="Đăng nhập"
            android:screenOrientation="portrait" />
    </application>

</manifest>